<div id="cnt_expl_tm_id">
	<h2>What do you mean 'team id' ??</h2>
	<p>
		In fact it's just a number that identifies your FPL team. 
		<a href="https://fantasy.premierleague.com" target="_blank">
			When you go to your team on 'https://fantasy.premierleague.com'
		</a>
		Then click on 'points'. Now you can see your 'team id' in the address bar. For me it's 'https://fantasy.premierleague.com/entry/993831/event/1'. So my 'team id' = 993831.
		<button onclick="history.back()">Back</button>
	</p>
</div>