<div class="teamCnt ownTeamTbl" id="tmTblCnt_{{ fpl[4]['data']['manager']['id'] }}">

	<div class="grid">

		<!-- div class="tmCntTmRowHdr man">Manager</div-->
		<div>
			<div class="baller ">
				<section class="man">
					<h2>{{ fpl[4]['data']["manager"]["name"] }}</h2>
					<span>
						<h3>
							{{ fpl[4]['data']["manager"]["player_first_name"] }}
							{{ fpl[4]['data']["manager"]["player_last_name"] }}
						</h3>
					</span>
				</section>
			</div>

			<div class="baller">
				<section>
				<h2> Total </h2>
				<span>
					<h3>
						{{fpl[4]['data']["roundDash"]["total_points"]}}
					</h3>
				</span>
				</section>
			</div>

			<div class="baller">
				<section class="tx">
					<h2> TX </h2>
					<span>
						<h3>
							{{fpl[4]['data']["roundDash"]["event_transfers_cost"]}}
						</h3>
					</span>
				</section>
			</div>

			<div class="baller">
				<section>
					<h2> GW </h2>
					<span>
						<h3 id="ownRunningTotal" txCost="{{fpl[4]['data']['roundDash']['event_transfers_cost']}}">
							{{fpl[4]['data']["roundDash"]["points"]-fpl[4]['data']["roundDash"]["event_transfers_cost"]}}
						</h3>
					</span>
				</section>
			</div>

		</div>
	</div>


	<div class="row gutter-3">
		<div class="tmCntTmRowHdr gkp">Goalkeeper</div>
		<div>
			{% for s_gkp in fpl[4]['data']["strtrs"] %}

				{% if ( s_gkp["ballerData"]["element_type"] == 1 ) %}

				<div class="ballerStrtr baller starters"
					ballerid="{{ s_gkp['liveBallerData']['id'] }}"
					fxtrids="{{ s_gkp['liveBallerData']['stats']['gwGames'] }}"
					potsub="{{ s_gkp['liveBallerData']['potentialSub'] }}"
					style="flex-grow: 5;"
					>
					<div class="ballerLiveHdr own">
						<span cap="{{ s_gkp['multiplier']>1 }}">
							{{ s_gkp["web_name"] }}
						</span>
						<div class="row">
							<span style="border: 1px solid black;" class="lbGmTtl" >
								{{ s_gkp["liveBallerData"]["stats"]["total_points"] * s_gkp["multiplier"] }}
							</span>
						</div>
						<div><span></span></div>
					</div>

					{% for s in s_gkp['liveBallerData']['explain'] %}
						<div 	class="ballerLiveGameHdrOwn"
								fxtrid="{{ s['fixture'] }}"
								bllrLvTotal="{{ s['gmTotal'] }}"
								bllrMlt="{{ s_gkp['multiplier']}}"
						>
							<h6>{{ s['opp'] }} : {{ s['gmTotal']}}</h6>

							<select value="{{ s['gmTotal'] }}">

								{% for e in s['stats'] %}

								<option value="{{ e['points'] }}">
									<span class="span_l">{{ e["identifier"] }}: </span>
									<span class="span_m">{{ e["value"] }}</span>
									<span class="span_r lbGmItem" > = {{ e["points"] }}</span>
								</option>

								{% endfor %}

							</select>

						</div>
					{% endfor %}

					</div>

				{% endif %}

			{% endfor %}
		</div>

	</div>



	<div class="row gutter-3">
		<div class="tmCntTmRowHdr def">Defenders</div>
		<div>
			{% for s_def in fpl[4]['data']["strtrs"] %}

				{% if ( s_def["ballerData"]["element_type"] == 2 ) %}

				<div class="ballerStrtr baller starters"
					ballerid="{{ s_def['liveBallerData']['id'] }}"
					fxtrids="{{ s_def['liveBallerData']['stats']['gwGames'] }}"
					potsub="{{ s_def['liveBallerData']['potentialSub'] }}"
					style="flex-grow: 2;"
					>
					<div class="ballerLiveHdr own">
						<span cap="{{ s_def['multiplier']>1 }}">
							{{ s_def["web_name"] }}
						</span>
						<div class="row">
							<span style="border: 1px solid black;" class="lbGmTtl" >
								{{ s_def["liveBallerData"]["stats"]["total_points"] * s_def["multiplier"] }}
							</span>
						</div>
						<div><span></span></div>
					</div>

					{% for s in s_def['liveBallerData']['explain'] %}
						<div 	class="ballerLiveGameHdrOwn"
								fxtrid="{{ s['fixture'] }}"
								bllrLvTotal="{{ s['gmTotal'] }}"
								bllrMlt="{{ s_def['multiplier']}}"
						>
							<h6>{{ s['opp'] }} : {{ s['gmTotal']}}</h6>

							<select value="{{ s['gmTotal'] }}">

								{% for e in s['stats'] %}

								<option value="{{ e['points'] }}">
									<span class="span_l">{{ e["identifier"] }}: </span>
									<span class="span_m">{{ e["value"] }}</span>
									<span class="span_r lbGmItem"> = {{ e["points"] }}</span>
								</option>

								{% endfor %}

							</select>

						</div>
					{% endfor %}

					</div>

				{% endif %}

			{% endfor %}
		</div>

	</div>




	<div class="row gutter-3">
		<div class="tmCntTmRowHdr mid">Midfielders</div>
		<div>
			{% for s_mid in fpl[4]['data']["strtrs"] %}

				{% if ( s_mid["ballerData"]["element_type"] == 3 ) %}

				<div class="ballerStrtr baller starters"
					ballerid="{{ s_mid['liveBallerData']['id'] }}"
					fxtrids="{{ s_mid['liveBallerData']['stats']['gwGames'] }}"
					potsub="{{ s_mid['liveBallerData']['potentialSub'] }}"
					style="flex-grow: 2;"
				>
					<div class="ballerLiveHdr own">
						<span cap="{{ s_mid['multiplier']>1 }}">
							{{ s_mid["web_name"] }}
						</span>
						<div class="row">
							<span style="border: 1px solid black;" class="lbGmTtl" >
								{{ s_mid["liveBallerData"]["stats"]["total_points"] * s_mid["multiplier"] }}
							</span>
						</div>
						<div><span></span></div>
					</div>

					{% for s in s_mid['liveBallerData']['explain'] %}
						<div 	class="ballerLiveGameHdrOwn"
								fxtrid="{{ s['fixture'] }}"
								bllrLvTotal="{{ s['gmTotal'] }}"
								bllrMlt="{{ s_mid['multiplier']}}"
						>

							<h6>{{ s['opp'] }} : {{ s['gmTotal']}}</h6>

							<select value="{{ s['gmTotal'] }}">

								{% for e in s['stats'] %}

								<option value="{{ e['points'] }}">
									<span class="span_l">{{ e["identifier"] }}: </span>
									<span class="span_m">{{ e["value"] }}</span>
									<span class="span_r lbGmItem"> = {{ e["points"] }}</span>
								</option>

								{% endfor %}

							</select>

						</div>
					{% endfor %}

				</div>

				{% endif %}

			{% endfor %}
		</div>

	</div>



	<div class="row gutter-3">
		<div class="tmCntTmRowHdr fwd">Forwards</div>
		<div>
			{% for s_fwd in fpl[4]['data']["strtrs"] %}

				{% if ( s_fwd["ballerData"]["element_type"] == 4 ) %}

				<div class="ballerStrtr baller starters"
					ballerid="{{ s_fwd['liveBallerData']['id'] }}"
					fxtrids="{{ s_fwd['liveBallerData']['stats']['gwGames'] }}"
					potsub="{{ s_fwd['liveBallerData']['potentialSub'] }}"
					style="flex-grow: 3;"
					>
					<div class="ballerLiveHdr own">
						<span cap="{{ s_fwd['multiplier']>1 }}">
							{{ s_fwd["web_name"] }}
						</span>

						<div class="row">
							<span style="border: 1px solid black;" class="lbGmTtl" >
								{{ s_fwd["liveBallerData"]["stats"]["total_points"] * s_fwd["multiplier"] }}
							</span>
						</div>

						<div><span></span></div>
					</div>

					{% for s in s_fwd['liveBallerData']['explain'] %}
						<div 	class="ballerLiveGameHdrOwn"
								fxtrid="{{ s['fixture'] }}"
								bllrLvTotal="{{ s['gmTotal'] }}"
								bllrMlt="{{ s_fwd['multiplier']}}"
						>
							<h6>{{ s['opp'] }} : {{ s['gmTotal']}}</h6>

							<select value="{{ s['gmTotal'] }}">

								{% for e in s['stats'] %}

								<option value="{{ e['points'] }}">
									<span class="span_l">{{ e["identifier"] }}: </span>
									<span class="span_m">{{ e["value"] }}</span>
									<span class="span_r lbGmItem"> = {{ e["points"] }}</span>
								</option>

								{% endfor %}

							</select>

						</div>
					{% endfor %}

				</div>

				{% endif %}

			{% endfor %}
		</div>

	</div>


	<div class="row gutter-1">
		<div class="tmCntTmRowHdr bench">Bench</div>
		<div>
		{% for res in fpl[4]['data']["bnch"] %}
			<div 	class="ballerBnch baller"
					element_out="{{ res['element_out'] }}"
					element_in="{{ res['element_in'] }}"
					ballerid="{{ res['liveBallerData']['id'] }}"
					fxtrids="{{ res['liveBallerData']['stats']['gwGames'] }}"
			>
				<div class="ballerLiveHdr own">
					<span>{{ res["web_name"] }}</span>
					<span>{{ res["posNm"]  }} ({{ (res["position"]-11) }})</span>

					<div class="row">
						<span style="border: 1px solid black;" class="lbGmTtl" >
							{{ res["liveBallerData"]["stats"]["total_points"] }}
						</span>
					</div>
				</div>


				{% for s in res['liveBallerData']['explain'] %}
					<div class="ballerLiveGameHdrOwn" fxtrid="{{ s['fixture'] }}" >
						<h6 class="lbGmTtl">{{ s['opp'] }} : {{ s['gmTotal']}}</h6>

						<select value="{{ s['gmTotal'] }}">

							{% for e in s['stats'] %}

							<option value="{{ e['points'] }}">
								<span class="span_l">{{ e["identifier"] }}: </span>
								<span class="span_m">{{ e["value"] }}</span>
								<span class="span_r lbGmItem"> = {{ e["points"] }}</span>
							</option>

							{% endfor %}

						</select>

					</div>
				{% endfor %}

			</div>

		{% endfor %}

		</div>

	</div>

	<script type="text/javascript">
		function liveTotalsOwn(){
			let starterArr = $("div[bllrLvTotal].ballerLiveGameHdrOwn");
			let startersPoints = 0;
			let txCost = parseInt($("#ownRunningTotal").attr("txCost"));

			$.each(
				starterArr,
				function(index, strtr){
					console.log(
							"liveTotalsOwn", index,
							"bllrTtl" ,$(strtr).attr("bllrLvTotal"),
							"bllrmlt", parseInt( $(strtr).attr("bllrMlt"))
					);
					startersPoints += ( parseInt( $(strtr).attr("bllrLvTotal") ) * parseInt( $(strtr).attr("bllrMlt") ) ) ;
				}
			);

			console.log("startersPoints",startersPoints , "txCost", txCost);
			return (startersPoints-txCost);
		}

		$("#ownRunningTotal").text(liveTotalsOwn());

	</script>
</div>
